LLM_API_KEY = "sk-ws-H.ELIMPLY.y4b5.MEYCIQDrNt40oMZXLSeiOw2OIXcb4i-tajFJv2Gai3W-FZkW7wIhAMpXZ1r_6NQXapw0umV6owkul-IuYCSvmHQOHuyzq9IA"
LLM_API_URL = "https://ws-u8ciibwr73ufj5aj.cn-beijing.maas.aliyuncs.com/compatible-mode/v1/chat/completions"
LLM_MODEL = "qwen-plus"
